@import '../../utils/mixins.scss';
@import '../../utils/variable.scss';

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  max-width: 272px;

  @include onTablet() {
    max-width: fit-content;
  }

  &__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    margin: 0;
    line-height: 24px;
    align-content: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    justify-content: center;
    border: 1px solid $Icons;
    border-radius: 50%;
    width: 16px;
    height: 24px;
    margin: 0;
    padding: 5px 10px;
    color: $Primary;
    text-decoration: none;

    &--active {
      background-color: $Primary;
      color: white;
    }

    @include hover(border-color, $Primary);
  }

  &__button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $Icons;
    border-radius: 50%;
    min-width: 16px;
    height: 24px;
    padding: 5px 10px;
    text-decoration: none;
    color: $Primary;
    cursor: pointer;

    &--disabled {
      pointer-events: none;
      background-color: white;
      color: $Icons;
    }

    @include hover(border-color, $Primary);
  }
}