@import '../../utils/mixins.scss';
@import '../../utils/variable.scss';
@import '../../utils/reset.scss';

.cart {
  &__nav {
    margin-bottom: 24px;
  }

  &__title {
    @include title();
    margin-top: 20px;
  }

  &__content {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    flex-direction: column;

    @include onDeskTop {
      flex-direction: row;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
  }

  &__checkout {
    flex-basis: 30%;
    width: 100%;
    align-self: flex-start;
    padding: 24px;
    border: 1px solid $Elements;
    border-radius: 16px;
    box-sizing: border-box;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 62px;
    width: 100%;
    border-bottom: 1px solid $Elements;
    margin-bottom: 16px;

    @include onDeskTop {
      margin-bottom: 24px;
    }
  }

  &__number {
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
  }

  &__total {
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $Secondary;
  }

  &__buy {
    height: 48px;
    width: 100%;
    margin-top: 16px;

    background-color: $Accent;
    border: 1px solid $Accent;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    @include onDeskTop {
      margin-top: 24px;
    }
  }

  &__no-products {
    flex-basis: 100%;
  }
}
