@import '../../../utils/mixins.scss';
@import '../../../utils/variable.scss';
@import '../../../utils/reset.scss';

.orders {
  padding-top: 10px;

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 8px;

  }

  &__button {
    width: 200px;
  }

  &__title {
    @include title();
    margin: 0;
  }

  &__amount {
    margin: 0 0 32px;
    color: $Secondary;
  }
}
