@import '../../utils/variable.scss';

.wrapper {
  width: 100%;
}

.input-field {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1%;
  border: 1px solid $Icons;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 2em;
  font-style: normal;
  font-weight: 600;
  width: 100%;
  padding-left: 5px;

  &:focus {
    outline: none;
    border: 1px solid $Secondary;
  }
}

label {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: $Secondary;
}

::placeholder {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  color: $Secondary;
}


.input-wrapper {
  width: 100%;
  box-sizing: border-box;
}

.input-label {
  margin-bottom: 8px;
  font-weight: 700;
  display: inline-block;
  font-size: 14px;
}


.input-holder {
  height: 48px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.input-secure-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  color: $Icons;
  font-size: 20px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    color: $Primary;
  }
}

.input-elem {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #f5f6fa;
  border: 1px solid transparent;
  transition: all 0.3s;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;

  &:hover {
    border-color: $BorderColorHover;
  }

  &:focus {
    outline: none;
    border-color: $BorderColorActive;
  }

  &::placeholder {
    color: $LightTextColor;
    font-size: 14px;
    font-family: $FontFamily;
    font-weight: 400;
  }

  &--secured {
    padding: 10px 35px 10px 15px;
  }

  &--invalid {
    border-color: $DangerColorLight;
    background-color: $DangerColorTransparent;

    &:hover {
      border-color: $DangerColorHover;
    }

    &:focus {
      outline: none;
      border-color: $DangerColor;
    }

    &::placeholder {
      color: $DangerColor;
      font-size: 16px;
    }
  }
}
