@import '../../utils/variable.scss';

.input-field {
  border-radius: 8px;
  border: 1px solid $Icons;
  margin: 5px;
  font-size: 14px;
  line-height: 2em;
  font-style: normal;
  font-weight: 600;

  &:focus {
    outline: none;
    line-height: 2.5em;
  }
}

::placeholder {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  color: $Secondary;
}