$Secondary: #89939A;
$Primary: #0F0F11;
$Elements: #E2E6E9;
$HoverBg: #FAFBFC;
$gray-icons: #B4BDC3;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;600&display=swap');

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDeskTop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin pageGrid {
  --columns: 4;
  display: grid;
  row-gap: 24px;
  column-width: 32px;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column-gap: 16px;

  @include onTablet {
    --columns: 12;
    max-width: 592px;
  }

  @include onDeskTop {
    --columns: 24;
    max-width: 1136px;
  }
}

.page__title {
  font-size: 48px;
}

.catalog {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-inline: 16px;
  background-color: $HoverBg;
  justify-content: center;

  &__nav {
    display: flex;
    column-gap: 8px;
    height: 16px;
    

    &-icon {
      @include hover(transform, scale(1.2));
    }

    &-text {
      display: block;
      text-decoration: none;
      color: $Secondary;
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      align-items: center;
    }
  }

  &__form {
    &-wrapper {
      display: flex;
      gap: 10px;
    }

    &-item {
      width: max-content;
      display: flex;
      flex-direction: column;
    }

    &-type {
      font-size: 12px;
      font-weight: 400;
      color: $Secondary;
    }

    &-select {
      margin-right: 16px;
      width: 136px;
      height: 40px;
      box-sizing: border-box;
      width: max-content;
      padding: 4px 7px;
      min-width: 100px;
      border: 1px solid $Elements;
      border-radius: .5em;
      outline: none;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__container {
    margin: 24px auto;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;

    @include pageGrid;

    @include onTablet {
      margin: 24px auto 40px;
    }
  }
}

.productCard {
  padding: 0;

  grid-column: span 3;

  @include onTablet() {
    grid-column: span 6;
  }

  @include onDeskTop() {
    grid-column: span 6;
  }
}

.page__title {
  font-size: 32px;
  margin: 24px 0 8px;
}

.page__items-amount {
  margin: 0 0 32px;
  color: $Secondary;
}

.page__pagination {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  margin-bottom: 64px;
}

.head-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @include pageGrid;
  row-gap: 0;
}

.title-container {
  display: block;
  grid-column: span 4;

  @include onTablet() {
    grid-column: span 12;
  }

  @include onDeskTop() {
    grid-column: span 24;
  }
}