$gray-secondary: #89939A;
$gray-primary: #0F0F11;
$gray-elements: #E2E6E9;
$gray-background: #FAFBFC;

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDeskTop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin pageGrid {
  --columns: 4;
  display: grid;
  row-gap: 24px;
  column-gap: 16px;
  column-width: 32px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 12;
  }

  @include onDeskTop {
    --columns: 24;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-inline: 16px;
  background-color: $gray-background;
  justify-content: center;

  @include onTablet {
    padding-inline: 24px;
  }

  @include onDeskTop {
    padding-inline: 152px;
  }

  &__form {
    &-wrapper {
      display: flex;
      gap: 10px;
    }

    &-item {
      width: max-content;
      display: flex;
      flex-direction: column;
    }

    &-type {
      // @extend %smallText;
      font-size: 12px;
      color: $gray-primary;
    }

    &-select {
      width: max-content;
      padding: 4px 7px;
      min-width: 100px;
      border: 1px solid $gray-elements;
      border-radius: .5em;
      outline: none;
      font-size: 12px;
    }
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    row-gap: 40px;
    column-gap: 10px;
    margin-top: 20px;
    justify-content: space-between;

    @include pageGrid;
  }
}

.productCard {
  padding: 0;

  grid-column: span 6;
}