$Secondary: #89939A;
$Primary: #0F0F11;
$Elements: #E2E6E9;
$HoverBg: #FAFBFC;
$gray-icons: #B4BDC3;

.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    width: 32px;
    text-align: center;
    margin: auto 4px;
    color: $Primary;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 32px;
    border: 1px solid $Elements;

    &--number {
      @media (max-width: 639px) {
        display: none;
      }
    }

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: $Elements;
      cursor: pointer;
    }

    &.selected {
      background-color: $Primary;
      color: white;
    }

    .arrow {
      &::before {
        position: relative;
        content: '';
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid $Primary;
        border-top: 0.12em solid $Primary;
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid $Primary;
        border-top: 0.12em solid $Primary;
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
