@import '../../utils/variable.scss';

.cart-button {
  padding: 0;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: $Accent;
  color: $White;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $AccentHover;
  }

  &--selected {
    border: 1px solid  $Elements;
    background: $White;
    color: $Accent;

    &:hover {
      border: 1px solid  $Elements;
      background: $White;
      color: $Accent;
    }
  }

  &--danger {
    border: 1px solid  $DangerColor;
    background: $DangerColor;
    color: $White;

    &:hover {
      border: 1px solid  $DangerColorHover;
      background: $DangerColorHover;
    }
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    background-color: $DisabledColor;
    color: $LightTextColor;

    &:hover {
      cursor: not-allowed;
      background-color: $DisabledColor;
      color: $LightTextColor;
    }
  }
}

