@import '../../utils/variable.scss';
@import '../../utils/mixins.scss';
@import "../../utils/mixins";

.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 22px;

        @media screen and (min-width: 640px) {
            font-size: 32px;
        }
    }
}

.title {
    padding: 24px 0;
}

.new-models,
.hot-prices {
    //overflow-x: hidden;

    &__title {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include onTablet {
            flex-direction: row;
        }

        &--buttons {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 16px;
        }
    }

    &__swiper {
        max-width: 1152px;
        margin: 0 -24px;

        @include onDeskTop() {
            margin: unset;
        }
    }
}

.new-models__button-left,
.new-models__button-right,
.hot-prices__button-left,
.hot-prices__button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #B4BDC3;
    cursor: pointer;

    &:hover {
        border: 1px solid #000;
        transform: scale(1.01);
    }
}

.phones {
    background-image: url('../../images/home/image-6.png');
    background-color: #6D6474;
    border-radius: 8px;
}

.tablets {
    background-image: url('../../images/home/image-5.png');
    background-color: #8d8d92;
    border-radius: 8px;
}

.accessories {
    background-image: url('../../images/home/image-7.png');
    background-color: #973d5f;
    border-radius: 8px;
}

.categories {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 32px;

        @media screen and (min-width: 640px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
    }

    &__count {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        color: var(--gray-secondary, #89939A);
    }
}

.block {
    &__image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;

        @media screen and (max-width: 355px) {
            margin: 0 auto;
            width: 188px;
            height: 188px;
        }

        @media screen and (min-width: 355px) and (max-width: 640px) {
            margin: 0 auto;
            width: 288px;
            height: 288px;
        }

        @media screen and (min-width: 641px) and (max-width: 916px) {
            width: 188px;
            height: 188px;
        }

        @media screen and (min-width: 916px) and (max-width: 1170px) {
            width: 288px;
            height: 288px;
        }

        @media screen and (min-width: 1170px) {
            width: 368px;
            height: 368px;
            border-radius: 0;
        }
    }
}



@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

.item-card {
  padding: 0px;
  max-width: 1300px;
  margin: auto;
  background: $Secondary; 
  
  &__nav {
    display: flex;
    column-gap: 8px;
    height: 16px;

    &-icon {
      @include hover(transform, scale(1.2));
    }
  
    &-textPhone {
      display: block;
      text-decoration: none;
      color: $Secondary;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      align-items: center;
    }
  
    &-textPhones {
      display: block;
      text-decoration: none;
      color: $Secondary;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      align-items: center;
    }
  }

  &__back {
    margin-top: 40px;
    display: flex;
    column-gap: 8px;
    height: 16px;

    &-icon {
      @include hover(transform, scale(1.2));
    }
  
    &-text {
      display: block;
      text-decoration: none;
      color: $Secondary;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      align-items: center;
    }
  }

  background: $HoverBg;  

  @include onTablet() {
    padding: 0px;
  }

  @include onDeskTop() {
    padding-bottom: 0px;
  }

  &__title {
    color: $Primary;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    text-align: left;
    margin-bottom: 32px;
    margin-top: 16px;

    @include onTablet() {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.32px;
    }
  }
}

.container {
  @include onTablet() {
    display: flex;
    flex-direction: space-between;
    gap: 70px;
  }

  @include onDeskTop() {
    gap: 70px;
  }

  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onTablet() {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: start;
      object-fit: cover;
      gap: 24px;
    }

    @include onDeskTop() {
      display: flex;
      flex-direction: row-reverse;
      gap: 72px;
      object-fit: contain;
    }

    &-main-img {
      width: 274.345px;
      height: 274.345px;
      margin-bottom: 27px;

      @include onTablet() {
        width: 274.345px;
        height: 274.345px;
        margin-bottom: 0;
      }

      @include onDeskTop() {
        width: 442px;
        height: 442px;
        margin-bottom: 0;
      }
    }

    &-main {
      width: 100%;
      height: 100%;
      margin-bottom: 27px;
      object-fit: contain;

      @include onTablet() {
        margin-bottom: 0;
        object-fit: contain;
      }

      @include onDeskTop() {
        margin-bottom: 0;
        object-fit: contain;
      }
    }

    &-miniatures {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      gap: 8px;
      margin-bottom: 8px;

      @include onTablet() {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 8px;
        height: 100%;
        object-fit: contain;
      }

      @include onDeskTop() {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 17px;
        height: 100%; 
        object-fit: contain;
      }

      &-cont {
        width: 50px;
        height: 50px;


        @include onTablet() {
          width: 35px;
          height: 35px;
        }

        @include onDeskTop() {
          width: 78px;
          height: 78px;
        }
      }
   
      &-item {
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
        transition: transform 0.3s;

        @include onTablet() {
          object-fit: contain;
        }

        @include onDeskTop() { 
          object-fit: contain;

          &:hover {
            border: 1px solid #000;
            transform: scale(1.1);
        }
          
        }
      }
    }
  }
  
  &__info {
    @include onTablet() {
      width: calc(100% - 50% - 64px);
    }

    &-availible {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 40px;

      @include onTablet() {
        margin-top: 0;
      }

      &-title {
        color:  $Secondary;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      &-Id {
        color: $Icons;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &-colors {
      margin-top: 8px;
      margin-bottom: 24px;
      display: flex;
      gap: 8px;
      
      &-color {
        width: 25px;
        height: 25px;
        border: 2px solid $Elements;
        box-shadow: 0 0 0 1px $Secondary;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.3s;

        &:active {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          box-shadow: 0 0 0 1px  $Primary;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &-capcity {
      &-title {
        color: $Secondary;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 24px;
        margin-bottom: 8px;
      }

      &-set {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-bottom: 24px;
      }
    }

    &-price {
      margin-top: 32px ;
      display: flex;
      gap: 8px;

      &-actual{
        margin: 0;
        color: $Primary;
        font-size: 32px;
        font-weight: 800;
        font-style: normal;
      }

      &-sale {
        margin-top: 7px;
        color: $Secondary;
        font-size: 22px;
        font-weight: 500;      
        text-decoration: line-through;
        font-style: normal;
        line-height: normal;
      }
    }

    &-cart {
      display: flex;
      flex-direction: row;
      margin-bottom: 32px;
     
      @include onDeskTop() {
        max-width: calc(100% - 35%);
      }

      &-button {
        margin-right: 8px;
        width: 231px;
        height: 100%;

        @include onTablet {
          width: 180px;
        }

        @include onDeskTop {
          width: 263px;
        }
      }

      &-favourite {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 40px;
        border: 1px solid $Icons;
        background-color: $White;
        cursor: pointer;
      }
    }

    &-description {
      @include onDeskTop() {
        width: calc(100% - 35%);
      }
    }
  }  
}

.main-item {
  @include onDeskTop() {
    display: flex;
    gap: 67px;
  }

  &__about {  
    @include onDeskTop() {
      width: 50%;
    }

    &-title {  
      @include onDeskTop() {
        margin: 56px 0 0;
      } 

      margin: 56px 0 16px;
      color: #0F0F11;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @include onTablet() {
        font-size: 22px;
        font-weight: 800;
        line-height: 140%;
      }   
    }

    &-chapter {
      &-title { 
        margin: 32px 0 16px;
        color: $Primary;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include onTablet() {
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
        }
      }

      &-description {
        color: $Secondary;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
      }
    }
  }

  &__specs {
    @include onDeskTop() {
      width: calc(100% - 50% - 64px);
    }

    &-title {
      margin: 56px 0 16px;
      color: #0F0F11;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @include onTablet() {
        font-size: 22px;
        font-weight: 800;
        line-height: 140%;
      }

      @include onDeskTop() {
        margin: 56px 0 0;
      } 
    }

    &-description {
      @include onDeskTop() {
        margin-top: 32px;
      }      
    }
  }
}

.description-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;


    
  &-title {
    color: $Secondary;
    font-size: 12px;
    font-weight: 700;   
    padding: 4px 0;
  }

  &-value {
    color: $Primary;
    text-align: right;
    font-size: 12px;
    font-weight: 700;
  }
}

.gB {
  color: #0F0F11;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  background-color: $HoverBg;
  min-width: 40px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid $Icons;
  transition: all 0.3s;
  
  &:active {
    color: $HoverBg;
    background-color: $Primary;
  }

  &:hover {
    transform: scale(1.1);
  }
}

hr {
  border-radius: 8px;
  border: 1px solid $Elements;
  background: $White;
}
