@import '../../utils/variable.scss';
@import '../../utils/mixins.scss';


@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

.item-card {
  padding: 0 16px 0 17px;
  max-width: 1136px;
  margin: auto;
  background: $Secondary; 
  
  &__nav {
    margin-top: 25px;
    display: flex;
    column-gap: 8px;
    height: 16px;

    &-icon {
      @include hover(transform, scale(1.2));
    }
  
    &-textPhone {
      display: block;
      text-decoration: none;
      color: $Secondary;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      align-items: center;
    }
  
    &-textPhones {
      display: block;
      text-decoration: none;
      color: $Secondary;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      align-items: center;
    }
  }

  &__back {
    margin-top: 40px;
    display: flex;
    column-gap: 8px;
    height: 16px;

    &-icon {
      @include hover(transform, scale(1.2));
    }
  
    &-text {
      display: block;
      text-decoration: none;
      color: $Secondary;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      align-items: center;
    }
  }

  background: $HoverBg;  

  @include onTablet() {
    padding: 0 24px;
  }

  @include onDeskTop() {
    padding: 0 33px;
  }

  &__title {
    color: $Primary;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    text-align: left;
    margin-bottom: 32px;
    margin-top: 16px;

    @include onTablet() {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.32px;
    }
  }
}

.container {
  @include onTablet() {
    display: flex;
  }

  @include onDeskTop() {
    gap: 70px;
  }

  &__images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include onTablet() {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: start;
      gap: 24px;
      width: 55%;
    }

    @include onDeskTop() {
      display: flex;
      flex-direction: row-reverse;
      gap: 72px;
      width: 55%;
    }

    &-main {
      width: 274.345px;
      height: 274.345px;
      margin-bottom: 27px;

      @include onTablet() {
        width: 273.4px;
        height: 273.4px;
        margin-bottom: 0;
      }

      @include onDeskTop() {
        width: 442px;
        height: 442px;
        margin-bottom: 0;
      }
    }

    &-miniatures {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      gap: 8px;
      margin-bottom: 8px;
      width: 100%;
      height: 49px;

      @include onTablet() {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 8px;
        width: 35px;
        height: 207px; 
      }

      @include onDeskTop() {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 17px;
        width: 78px;
        height: 442px; 
      }
   
      &-item {
        @include onTablet() {
          width: 35px;
          height: 35px;
        }

        @include onDeskTop() {
          width: 78px;
          height: 78px;
        }
      }
    }
  }
  
  &__info {
    @include onTablet() {
      width: calc(100% - 50% - 64px);
    }

    &-availible {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 40px;

      @include onTablet() {
        margin-top: 0;
      }

      &-title {
        color:  $Secondary;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      &-Id {
        color: $Icons;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &-colors {
      margin-top: 8px;
      margin-bottom: 24px;
      display: flex;
      gap: 8px;
      
      &-color {
        width: 25px;
        height: 25px;
        border: 2px solid $Elements;
        box-shadow: 0 0 0 1px $Secondary;
        border-radius: 50%;

        &:active {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          box-shadow: 0 0 0 1px  $Primary;
        }
      }
    }

    &-capcity {
      &-title {
        color: $Secondary;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 24px;
        margin-bottom: 8px;
      }

      &-set {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-bottom: 24px;
      }
    }

    &-price {
      margin-top: 32px ;
      display: flex;
      gap: 8px;

      &-actual{
        margin: 0;
        color: $Primary;
        font-size: 32px;
        font-weight: 800;
        font-style: normal;
      }

      &-sale {
        margin-top: 7px;
        color: $Secondary;
        font-size: 22px;
        font-weight: 500;      
        text-decoration: line-through;
        font-style: normal;
        line-height: normal;
      }
    }

    &-cart {
      display: flex;
      flex-direction: row;
      margin-bottom: 32px;
     
      @include onDeskTop() {
        max-width: calc(100% - 35%);
      }

      &-button {
        margin-right: 8px;
        width: 231px;
        height: 100%;

        @include onTablet {
          width: 180px;
        }

        @include onDeskTop {
          width: 263px;
        }
      }

      &-favourite {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 40px;
        border: 1px solid $Icons;
        background-color: $White;
        cursor: pointer;
      }
    }

    &-description {
      @include onDeskTop() {
        width: calc(100% - 35%);
      }
    }
  }  
}

.main-item {
  @include onDeskTop() {
    display: flex;
    gap: 67px;
  }

  &__about {  
    @include onDeskTop() {
      width: 50%;
    }

    &-title {  
      @include onDeskTop() {
        margin: 56px 0 0;
      } 

      margin: 56px 0 16px;
      color: #0F0F11;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @include onTablet() {
        font-size: 22px;
        font-weight: 800;
        line-height: 140%;
      }   
    }

    &-chapter {
      &-title { 
        margin: 32px 0 16px;
        color: $Primary;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include onTablet() {
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
        }
      }

      &-description {
        color: $Secondary;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
      }
    }
  }

  &__specs {
    @include onDeskTop() {
      width: calc(100% - 50% - 64px);
    }

    &-title {
      margin: 56px 0 16px;
      color: #0F0F11;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @include onTablet() {
        font-size: 22px;
        font-weight: 800;
        line-height: 140%;
      }

      @include onDeskTop() {
        margin: 56px 0 0;
      } 
    }

    &-description {
      @include onDeskTop() {
        margin-top: 32px;
      }      
    }
  }
}

.description-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4px;


    
  &-title {
    color: $Secondary;
    font-size: 12px;
    font-weight: 700;   
    padding: 4px 0;
  }

  &-value {
    color: $Primary;
    text-align: right;
    font-size: 12px;
    font-weight: 700;
  }
}

.gB {
  color: #0F0F11;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  background-color: $HoverBg;
  min-width: 40px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid $Icons;
  
  &:active {
    color: $HoverBg;
    background-color: $Primary;
  }
}

hr {
  border-radius: 8px;
  border: 1px solid $Elements;
  background: $White;
}
