@import "../../../utils/variable";
@import "../../../utils/mixins";
@import "../../../utils/variable";

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDeskTop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin pageGrid {
  --columns: 1;
  display: grid;
  row-gap: 24px;
  column-width: 272px;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column-gap: 16px;

  @include onTablet {
    --columns: 2;
    max-width: 560px;
  }

  @include onDeskTop {
    --columns: 4;
    max-width: 1136px;
  }
}

.catalog {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: $HoverBg;
  justify-content: center;

  &__form {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include onTablet() {
        flex-direction: row;
      }
    }

    &-item {
      width: max-content;
      display: flex;
      flex-direction: column;
    }

    &-type {
      font-size: 12px;
      font-weight: 400;
      color: $Secondary;
    }

    &-select {
      margin-right: 16px;
      height: 40px;
      box-sizing: border-box;
      width: max-content;
      padding: 4px 7px;
      min-width: 100px;
      border: 1px solid $Elements;
      border-radius: .5em;
      outline: none;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__container {
    margin: 20px auto 24px;
    width: 100%;
    justify-content: space-between;

    @include pageGrid;

    @include onTablet {
      margin: 24px auto 40px;
    }
  }
}

.card {
  justify-self: center;
}

.page__title {
  @include title();
}

.page__items-amount {
  margin: 0 0 32px;
  color: $Secondary;
}

.page__pagination {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  margin-bottom: 64px;
}

.head-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @include pageGrid;
  row-gap: 0;
}

.title-container {
  display: block;
  grid-column: span 1;

  @include onTablet() {
    grid-column: span 2;
  }

  @include onDeskTop() {
    grid-column: span 4;
  }
}
