@import '../../utils/variable.scss';
@import '../../utils/mixins.scss';

.icon-heart-button {
  width: 16px;
  height: 16px;
}

.icon__favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 48px;
  border: 1px solid $Icons;
  background-color: $White;
  cursor: pointer;

  @include hover(border-color, $Primary);
}