@import '../../utils/variable.scss';
@import '../../utils/normalize.scss';

.card {
  width: 272px;
  height: 506px;
  border-radius: 8px;
  border: 1px solid $gray-elements;
  background: $gray-white;
  padding: 32px;
  line-height: normal;
  font-style: normal;

  &__img {
    width: 208px;
    height: 196px;
    margin-bottom: 24px;
  }

  &__title {   
    color: $gray-primary;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }

  &__price {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    padding-top: 16px;

    &-actual{ 
      margin: 0;     
      color: $gray-primary;
      font-size: 22px;
      font-weight: 800;
      font-style: normal;
    }

    &-sale {
      margin: 0;
      color: $gray-secondary;
      font-size: 22px;
      font-weight: 500;      
      text-decoration: line-through;
      font-style: normal;
      line-height: normal;
    }
  }

  &__description {
    padding-top: 8px;
  }

  &__footer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 8px;

    &-button {
      height: 40px;
      width: calc(100% - 40px - 8px);
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 8px;
      background: $Accent;
      color: $gray-white;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;

      &:active {
        border-radius: 8px;
        border: 1px solid  $gray-elements;
        background: $gray-white;
        color: $Accent;       
      }
    }

    &-favourite {
      background-image: url("../../../public/images/card/heart_unlike.png");
      background-repeat: no-repeat ;
      background-position: center;
      width: 40px;
      height: 40px;
      border-radius: 48px;
      border: 1px solid $gray-icons-placeholders;
      background-color: $gray-white;

      &:active {
        background-image: url("../../../public/images/card/heart_like.png");
        background-repeat: no-repeat ;
        background-position: center;
      }
    }  
  }
}

.description-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
   
  &-title {
    color:  $gray-secondary;
    font-size: 12px;
    font-weight: 600;   
  }

  &-value {
    color: $gray-primary;
    text-align: right;
    font-size: 12px;
    font-weight: 700;
  }
}

hr {
  border-radius: 8px;
  border: 1px solid $gray-elements;
  background: $gray-white;  
}