@import '../../utils/variable.scss';

.card {
  box-sizing: border-box;
  width: 272px;
  height: 506px;
  border-radius: 8px;
  border: 1px solid $gray-elements;
  background: $gray-white;
  padding: 32px;
  line-height: normal;
  font-style: normal;

  &__img {
    width: 100%;
    height: 130px;
    margin-bottom: 24px;
  }

  &__title {
    color:  $gray-primary;
    font-size: 14px;    
    font-weight: 600;
    line-height: 21px;
  }

  &__price {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;

    &-actual{      
      color: $gray-primary;
      font-size: 22px;
      font-weight: 800;
      line-height: 140%;
      margin: 0;
      font-style: normal;
    }

    &-sale {
      color: $gray-secondary;
      font-size: 22px;
      font-weight: 600;      
      text-decoration: line-through;
      margin: 0;
      font-style: normal;
      line-height: normal;
    }
  }

  &__footer {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 8px;
    margin: 0;

    &-button {
      height: 40px;
      width: 80%;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 8px;
      background: $Accent;
      color: $gray-white;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      cursor: pointer;

      &:active {
        border-radius: 8px;
        border: 1px solid  $gray-elements;
        background: $gray-white;
        color: $Accent;       
      }
    }

    &-favourite {
      background-image: url("../../../public/images/card/heart_unlike.png");
      background-repeat: no-repeat ;
      background-position: center;
      width: 40px;
      height: 40px;
      border-radius: 48px;
      border: 1px solid $gray-icons-placeholders;
      background-color: $gray-white;
      cursor: pointer;

      &:active {
        background-image: url("../../../public/images/card/heart_like.png");
        background-repeat: no-repeat ;
        background-position: center;
      }
    }  
  }
}

.description-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
    
  &-title {
    color:  $gray-secondary;
    font-size: 12px;
    font-weight: 700;   
    padding: 4px 0;
  }

  &-value {
    color: $gray-primary;
    text-align: right;
    font-size: 12px;
    font-weight: 700;
  }
}

hr {
  border-radius: 8px;
  border: 1px solid $gray-elements;
  background: $gray-white;
}