@import "../../utils/variable";

.back-button {
  padding: 4px 7px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    border: 1px solid $BorderColor;
    background-color: $HoverBg;
  }

  &__icon {
    margin-right: 5px;
    line-height: 14px;
    font-size: 12px;
  }

  &__text {
    line-height: 14px;
    font-weight: 400;
    color: $BorderColorActive;
  }
}
