@import '../../../utils/mixins.scss';
@import '../../../utils/variable.scss';

@mixin pageGrid {
  --columns: 1;
  display: grid;
  row-gap: 24px;
  column-width: 272px;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column-gap: 16px;

  @include onTablet {
    --columns: 2;
  }

  @include onDeskTop {
    --columns: 4;
    max-width: 1136px;
  }
}

.about {
  background-color: $HoverBg;
  width: 100%;
  padding: 0;
  justify-self: center;
  line-height: 21px;
}

.about-container {
  grid-column: span 1;

  @include onTablet() {
    grid-column: span 2;
  }

  @include onDeskTop() {
    grid-column: span 4;
  }
}

.tecnologies-container {
  grid-column: span 1;

  @include onTablet() {
    grid-column: span 1;
  }

  @include onDeskTop() {
    grid-column: span 2;
  }
}

.team-container {
  grid-column: span 1;

  @include onTablet() {
    grid-column: span 1;
  }

  @include onDeskTop() {
    grid-column: span 2;
  }
}

.features-container {
  grid-column: span 1;

  @include onTablet() {
    grid-column: span 1;
  }

  @include onDeskTop() {
    grid-column: span 2;
  }
}

.page__title {
  display: flex;
  align-items: center;
  height: 38px;

  grid-column: span 1;

  @include onTablet() {
    grid-column: span 2;
  }

  @include onDeskTop() {
    grid-column: span 4;
  }
}

.section-title {
  color: $Primary;
  size: 22px;
  font-weight: 500;

  &--secondary {
    size: 20px;
    font-weight: 400;
  }

  &--team {
    margin-left: 20px;
  }
}

.section__text {
  color: $Secondary;
}

.team__list {
  list-style: none;
  text-align: left;
  font-size: 16px;

  @include onTablet {
    font-size: 18px;
  }

  &--links {
    text-decoration: none;
    font-weight: 400;
    color: $Primary;
    font-size: 20px;
    line-height: 40px;

    @include hover(color, $Accent);
  }
}