$active-color: #0F0F11;

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDeskTop {
  @media (min-width: 1200px) {
    @content;
  }
}

@font-face {
  font-family: "Mont Regular";
  src: url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.eot");
  src: url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.svg#Mont Regular")format("svg");
  font-size: 12px;
  font-weight: 800;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 100%;

  text-transform: uppercase;
  border-bottom: 1px solid #E2E6E9;

  @include onDeskTop() {
    height: 64px;
  }

  &__icons {
    display: flex;
    align-items: center;
  }
}

.logo {
  margin: 0 16px;
  display: block;
  box-sizing: border-box;

  &__image {
    height: 22px;
    width: 68px;

    @include onDeskTop() {
      height: 28px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;

  &__list {
    display: none;
    gap: 32px;
    flex-wrap: wrap;
    line-height: 60px;
    height: 60px;
    margin: 0;
    padding: 0;

    @include onTablet() {
      display: flex;
      gap: 32px;
    }

    @include onDeskTop() {
      display: flex;
      gap: 64px;
    }
  }

  &__item {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    position: relative;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    color: #89939A;

    &:hover {
      color: $active-color;
    }
  }
}

.icon {
  height: 48px;
  width: 48px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  border-left: 1px solid #E2E6E9;

  @include onDeskTop() {
    height: 64px;
    width: 64px;
  }

  &--heart {
    display: none;
    background-image: url(../../images/icons/heart-icon.svg);

    @include onTablet() {
      display: block;
    }
  }

  &--cart {
    display: none;
    background-image: url(../../images/icons/cart-icon.svg);

    @include onTablet() {
      display: block;
    }
  }

  &--menu {
    background-image: url(../../images/icons/burger-menu-icon.svg);

    @include onTablet() {
      display: none;
    }
  }
}