@import '../../utils/mixins.scss';
@import '../../utils/variable.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 100%;

  text-transform: uppercase;
  border-bottom: 1px solid #E2E6E9;

  @include onDeskTop() {
    height: 64px;
  }

  &__logo {
    margin: 0 16px;
    display: block;
    box-sizing: border-box;

    height: 22px;
    width: 68px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;

    @include onDeskTop() {
      height: 28px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;

  &__list {
    display: none;
    gap: 32px;
    flex-wrap: wrap;
    line-height: 48px;
    height: 60px;
    margin: 0;
    padding: 0;

    @include onTablet() {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }

    @include onDeskTop() {
      gap: 64px;
      line-height: 60px;
    }
  }

  &__link {
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 800;
    font-size: 12px;
    color: #89939A;

    &:hover {
      color: $gray-primary;
    }

    &--active {
      color: $gray-primary;
      border-bottom: 3px solid $gray-primary;
    }
  }
}

.icon {
  height: 48px;
  width: 48px;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: center;
  border-left: 1px solid #E2E6E9;

  @include onDeskTop() {
    height: 64px;
    width: 64px;
  }

  &--heart {
    display: none;
    background-image: url(../../images/icons/heart-icon.svg);

    @include onTablet() {
      display: block;
    }
  }

  &--cart {
    display: none;
    background-image: url(../../images/icons/cart-icon.svg);

    @include onTablet() {
      display: block;
    }
  }

  &--menu {
    background-image: url(../../images/icons/burger-menu-icon.svg);

    @include onTablet() {
      display: none;
    }
  }

  &--close {
    background-image: url(../../images/icons/close-icon.svg);
  }

  &--active {
    border-bottom: 3px solid $gray-primary;
  }
}