@import '../../utils/mixins.scss';
@import '../../utils/variable.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  text-transform: uppercase;
  background-color: $White;
  border-bottom: 1px solid #E2E6E9;
  z-index: 100;

  @include onDeskTop() {
    height: 64px;
  }

  &__logo {
    margin: 0 16px;
    display: block;
    box-sizing: border-box;
    height: 22px;
    width: 68px;

    @include onDeskTop() {
      height: 28px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;

  &__list {
    display: none;
    gap: 32px;
    flex-wrap: wrap;
    line-height: 48px;
    height: 100%;
    margin: 0;
    padding: 0;

    @include onTablet() {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }

    @include onDeskTop() {
      gap: 64px;
      line-height: 60px;
    }
  }

  &__link {
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: #89939A;
    position: relative;
    height: 100%;
    transition: all 0.2s;

    &:after {
      content: '';
      height: 3px;
      width: 100%;
      background-color: transparent;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.2s;
    }

    &:hover {
      color: $Primary;

      &:after {
        background-color: $BorderColor;
      }
    }

    &--active {
      color: $Primary;

      &:hover {
        &:after {
          background-color: $Primary;
        }
      };

      &:after {
        background-color: $Primary;
      }
    }
  }
}

.icon {
  height: 48px;
  width: 48px;
  box-sizing: border-box;
  font-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  border-left: 1px solid #E2E6E9;
  text-decoration: none;
  color: $Primary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:after {
    content: '';
    height: 3px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s;
  }

  @include onDeskTop() {
    height: 64px;
    width: 64px;
  }

  &--nav {
    display: none;

    @include onTablet() {
      display: flex;
    }
  }

  &--menu {
    background-image: url(../../images/icons/burger-menu-icon.svg);

    @include onTablet() {
      display: none;
    }
  }

  &-close-button {
    z-index: 100;

    @include onTablet() {
      display: none;
    }
  }

  &:hover {
    color: $Primary;

    &:after {
      background-color: $BorderColor;
    }
  }

  &--active {
    color: $Primary;

    &:hover {
      &:after {
        background-color: $Primary;
      }
    };

    &:after {
      background-color: $Primary;
    }
  }
}
.number {
  position: relative;

  &--disabled {
    display: none;
  }

  &--active {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    z-index: 2;

    display: none;
    justify-content: center;

    font-size: 9px;
    color: #fff;
    background-color: $SecondaryAccent;
    border: 1px solid $SecondaryAccent;
    border-radius: 50%;
    align-items: center;

    @include onTablet {
      display: flex;
    }

    @include onDeskTop {
      top: 18px;
      right: 18px;
    }
  }
}

.number {
  position: relative;

  &--disabled {
    display: none;
  }

  &--active {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;

    display: none;
    justify-content: center;

    font-size: 9px;
    color: #fff;
    background-color: $SecondaryAccent;
    border: 1px solid $SecondaryAccent;
    border-radius: 50%;
    align-items: center;

    @include onTablet {
      display: flex;
    }

    @include onDeskTop {
      top: 18px;
      right: 18px;
    }
  }
}
