@mixin onTablet {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin onDeskTop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin pageGrid {
  --columns: 4;
  display: grid;
  row-gap: 24px;
  column-gap: 16px;
  column-width: 32px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 12;
  }

  @include onDeskTop {
    --columns: 24;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin title {
  font-size: 32px;
  margin: 24px 0 8px;
}
