$Elements: #E2E6E9;
$Secondary: #89939A;
$Primary: #0F0F11;
$Accent: #F86800;
$AccentHover: #ff7615;
$White: #FFF;
$Icons: #B4BDC3;
$HoverBg: #FAFBFC;
$Red: #EB5757;
$Green: #27AE60;
$SecondaryAccent: #476DF4;
$DisabledColor: #cfd2d5;
$BorderColor: #dee2ed;
$BorderColorHover: #dee2ed;
$BorderColorActive: #8b93a6;
$LightTextColor: #bfc5d1;
$DangerColor: #ff5959;
$DangerColorHover: #ec5d5d;
$DangerColorLight: #ef8a8a;
$DangerColorTransparent: rgba(246, 111, 111, 0.11);

$FontFamily: 'Rubik', sans-serif;
