@import "../../utils/mixins";
@import "../../utils/variable";


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 32px;
  padding-inline: 19px;
  background-color: $White;
  border-top: 1px solid $Elements;

  &__logo {
    height: 32px;
    width: 89px;
    margin: 0 64px 0 8px;

    @include hover(transform, scale(1.2));
  }

  &__link {
    color: $Secondary;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    font-weight: 700;
    font-size: 12px;

    transition: color 300ms;

    &:hover {
      color: $Primary;
    }
  }
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  line-height: 32px;
}

.footer__link {
  @include hover(transform, scale(1.2));
}

.button__scroll {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 0;

  line-height: 32px;
  font: inherit;
  outline: inherit;
  color: $Secondary;
  font-weight: 500;
  font-size: 12px;

  border: none;
  background: none;
  cursor: pointer;

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $Secondary;
    color: $Secondary;
    border-radius: 50%;
    height: 32px;
    width: 32px;

    @include hover(border-color, $Primary);
  }

  &--text {
    margin: 0;

    color: $Elements;
    font-weight: 700;
    font-size: 12px;

    transition: color 300ms;
  }
}

@media (max-width: 539px) {
  .footer {
    flex-direction: column;
    align-items: unset;
    padding: 32px 16px;
    row-gap: 32px;
    height: min-content;

    &__logo {
      margin: 0;
    }
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include hover(transform, scale(1.2));
  }
}
