$gray-secondary: #89939A;
$gray-primary: #0F0F11;
$gray-elements: #E2E6E9;

@font-face {
  font-family: "Mont Regular";
  src: url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.eot");
  src: url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6cce6b8c74a8ac84c45963dbac1e025a.svg#Mont Regular")format("svg");
  font-size: 12px;
  font-weight: 800;
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid $gray-elements;
  height: 32px;
  padding-block: 32px;
  padding-inline: 152px;

  &__logo {
    height: 32px;
    width: 89px;
    margin: 0 64px 0 8px;

    @include hover(transform, scale(1.2));
  }

  &__link {
    color: $gray-secondary;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    font-weight: 800;
    font-size: 12px;
    transition: color 300ms;
    text-transform: uppercase;

    &:hover {
      color: $gray-primary;
    }
  }
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 32px;
  width: 200px;
}

.footer__link {
  @include hover(transform, scale(1.2));
}

.button__scroll {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  justify-content: space-between;
  line-height: 32px;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: $gray-secondary;
  font-weight: 500;
  font-size: 12px;

  &--icon {
    height: 32px;
    width: 32px;

    @include hover(transform, scale(1.2));
  }

  &--text {
    color: $gray-elements;
    font-weight: 700;
    font-size: 12px;
    transition: color 300ms;
    margin: 0;
  }
}

@media (max-width: 539px) {
  .footer {
    height: min-content;
    padding: 32px 16px;
    row-gap: 32px;

    flex-direction: column;
    align-items: unset;

    &__logo {
      margin: 0;
    }
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include hover(transform, scale(1.2));
  }

  .button__scroll {
    justify-content: center;
  }
}