.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1200px;

    h1 {
        font-size: 22px;

        @media screen and (min-width: 640px) {
            font-size: 32px;
        }
    }
}

.title {
    padding: 24px 0;
}

.new-models,
.hot-prices {
    overflow-x: hidden;

    &__title {
        display: flex;
        justify-content: space-between;

        &--buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 16px;
        }
    }

    &__swiper {
        width: 1152px;
    }
}

.new-models__button-left,
.new-models__button-right,
.hot-prices__button-left,
.hot-prices__button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #B4BDC3;
    cursor: pointer;

    &:hover {
        border: 1px solid #000;
        transform: scale(1.01);
    }
}

.phones {
    // background-image: url('../../../images/home/image-6.png');
    background-color: #6D6474;
    border-radius: 8px;
}

.tablets {
    // background-image: url('../../../images/home/image-5.png');
    background-color: #8d8d92;
    border-radius: 8px;
}

.accessories {
    // background-image: url('../../../images/home/image-7.png');
    background-color: #973d5f;
    border-radius: 8px;
}

.categories {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 32px;

        @media screen and (min-width: 640px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
    }

    &__count {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        color: var(--gray-secondary, #89939A);
    }
}

.block {
    &__image {
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;
        cursor: pointer;

        @media screen and (max-width: 355px) {
            margin: 0 auto;
            width: 188px;
            height: 188px;
        }

        @media screen and (min-width: 355px) and (max-width: 640px) {
            margin: 0 auto;
            width: 288px;
            height: 288px;
        }

        @media screen and (min-width: 641px) and (max-width: 916px) {
            width: 188px;
            height: 188px;
        }

        @media screen and (min-width: 916px) and (max-width: 1170px) {
            width: 288px;
            height: 288px;

            &:hover {
                transition: transform 1s ease;
            
                transform: scale(1.05);
            }
        }

        @media screen and (min-width: 1170px) {
            width: 368px;
            height: 368px;
            border-radius: 0;

            &:hover {
                transition: transform 1s ease;
            
                transform: scale(1.05);
            }
        }
    }
}
