$Secondary: #89939A;
$Primary: #0F0F11;
$Elements: #E2E6E9;
$HoverBg: #FAFBFC;
$gray-icons: #B4BDC3;

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

.catalog__nav {
  display: flex;
  column-gap: 8px;
  height: 16px;
  min-width: 272px;
  

  &-icon {
    text-decoration: none;
    color: $Primary;
    @include hover(transform, scale(1.2));
  }

  &-text {
    display: block;
    text-decoration: none;
    color: $Secondary;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    align-items: center;
  }
}