@import '../../utils/mixins.scss';
@import '../../utils/variable.scss';

.catalog__nav {
  display: flex;
  column-gap: 8px;
  height: 16px;
  min-width: 272px;

  &-icon {
    text-decoration: none;
    color: $Primary;
    @include hover(transform, scale(1.2));
  }

  &-text {
    display: block;
    text-decoration: none;
    color: $Secondary;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    align-items: center;

    @include hover(color, $Primary);
  }
}
