@import '../../../utils/variable';
@import '../../../utils/mixins';

p,
span {
  margin: 0;
  padding: 0;
}

.cart-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid $Elements;
  border-radius: 16px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  background-color: $White;

  @include onTablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }

  &__info {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;

    @include onTablet {
      width: 200px;
    }
  }

  &__delete {
    display: block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    cursor: pointer;
    color: $Secondary;
    transition: all 0.2s;

    &:hover {
      color: $Primary;
    }
  }

  &__picture {
    height: 66px;
  }

  &__number {
    width: 120px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
  }

  &__number-text {
    width: 20px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
  }

  &__button {
    width: 32px;
    height: 32px;
    border: 1px solid $Icons;
    border-radius: 50%;
    background: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      border-color: $Primary;
      span {
        color: $Primary;
      }
    }

    &--disabled {
      border: 1px solid $Elements;
      color: $Elements;
      cursor: default;

      &:hover {
        border-color: $Elements;
        span {
          color: $Icons;
        }
      }

      span {
        color: $Icons;
      }
    }
  }

  &__price {
    text-align: right;
    width: 100px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30.8px;
  }
}
