@import '../../../utils/variable.scss';
@import '../../../utils/mixins.scss';

.register-page-wrapper {
  display: flex;
  justify-content: center;
}

.register-content-wrapper {
  flex-grow: 1;
  margin-top: 10px;
  max-width: 420px;
  box-sizing: border-box;
  padding: 0 15px;

  @media screen and (min-width: 1200px) {
    margin-top: 30px;
  }
}

.register-content-holder {
  border-radius: 10px;
  background-color: #f5f6fa;
  padding: 8px;
  box-sizing: border-box;
}

.register-form {
  border-radius: 10px;
  padding: 24px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

.input-container {
  margin-bottom: 16px;
  width: 100%;
}

.register-button-container {
  width: 100%;
  margin-top: 30px;
}

.register-title {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: $Primary;
  margin: 0 0 25px;
  text-align: center;
}

.register-page-link-wrapper {
  border-top: 1px solid $BorderColor;
  margin-top: 15px;
  padding-top: 15px;
  text-align: center;
  color: $Secondary;
}


.register-page-link {
  font-weight: 700;
  color: $Accent;
  margin-left: 5px;
}
